.c-colors {
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    margin: 0 20px;
}

.c-colors--basic-size {
    flex-basis: 30%;
}

.c-colors--bigger-size {
    flex-basis: 45%;
}

.colors__heading {
    font-size: 26px;
    margin: 0;
}

.c-colors__primary--50 {
    background-color: rgb(255, 248, 225);
}

.c-colors__primary--100 {
    background-color: rgb(255, 237, 179);
}

.c-colors__primary--200 {
    background-color: rgb(255, 225, 131);
}

.c-colors__primary--300 {
    background-color: rgb(255, 214, 80);
}

.c-colors__primary--400 {
    background-color: rgb(255, 203, 41);
}

.c-colors__primary--500 {
    background-color: rgb(255, 195, 9);
}

.c-colors__primary--600 {
    background-color: rgb(255, 180, 1);
}

.c-colors__primary--700 {
    background-color: rgb(255, 160, 0);
}

.c-colors__primary--800 {
    background-color: rgb(255, 145, 0);
}

.c-colors__primary--900 {
    background-color: rgb(255, 113, 0);
}

.c-colors--special::after {
    content: "*";
}

.c-colors__secondary--50 {
    background-color: rgb(228, 240, 244);
}

.c-colors__secondary--100 {
    background-color: rgb(190, 218, 230);
}

.c-colors__secondary--200 {
    background-color: rgb(153, 195, 215);
}

.c-colors__secondary--300 {
    background-color: rgb(120, 172, 198);
}

.c-colors__secondary--400 {
    background-color: rgb(98, 156, 188);
}

.c-colors__secondary--500 {
    background-color: rgb(79, 141, 178);
}

.c-colors__secondary--600 {
    background-color: rgb(68, 128, 167);
}

.c-colors__secondary--700 {
    background-color: rgb(57, 112, 150);
}

.c-colors__secondary--800 {
    background-color: rgb(48, 96, 133);
}

.c-colors__secondary--900 {
    background-color: rgb(35, 68, 101);
}

.c-colors__grey--50 {
    background-color: rgb(248, 248, 248);
}

.c-colors__grey--100 {
    background-color: rgb(241, 241, 241);
}

.c-colors__grey--200 {
    background-color: rgb(230, 230, 230);
}

.c-colors__grey--300 {
    background-color: rgb(214, 214, 214);
}

.c-colors__grey--400 {
    background-color: rgb(178, 178, 178);
}

.c-colors__grey--500 {
    background-color: rgb(145, 145, 145);
}

.c-colors__grey--600 {
    background-color: rgb(105, 105, 105);
}

.c-colors__grey--700 {
    background-color: rgb(86, 86, 86);
}

.c-colors__grey--800 {
    background-color: rgb(56, 56, 56);
}

.c-colors__grey--900 {
    background-color: rgb(24, 24, 24);
}

.c-colors__green--50 {
    background-color: rgb(229, 244, 232);
}

.c-colors__green--100 {
    background-color: rgb(192, 228, 198);
}

.c-colors__green--200 {
    background-color: rgb(151, 211, 162);
}

.c-colors__green--300 {
    background-color: rgb(106, 194, 125);
}

.c-colors__green--400 {
    background-color: rgb(70, 182, 97);
}

.c-colors__green--500 {
    background-color: rgb(18, 169, 69);
}

.c-colors__green--600 {
    background-color: rgb(2, 154, 60)
}

.c-colors__green--700 {
    background-color: rgb(0, 136, 49);
}

.c-colors__green--800 {
    background-color: rgb(0, 119, 38);
}

.c-colors__green--900 {
    background-color: rgb(0, 89, 18);
}

.c-colors__red--50 {
    background-color: rgb(255, 235, 239);
}

.c-colors__red--100 {
    background-color: rgb(255, 205, 211);
}

.c-colors__red--200 {
    background-color: rgb(247, 153, 155);
}

.c-colors__red--300 {
    background-color: rgb(240, 112, 115);
}

.c-colors__red--400 {
    background-color: rgb(252, 76, 80);
}

.c-colors__red--500 {
    background-color: rgb(255, 54, 50);
}

.c-colors__red--600 {
    background-color: rgb(243, 43, 51);
}

.c-colors__red--700 {
    background-color: rgb(225, 30, 45);
}

.c-colors__red--800 {
    background-color: rgb(212, 19, 37);
}

.c-colors__red--900 {
    background-color: rgb(197, 0, 24);
}